
.div_sell_image{
    display: flex;
    justify-content: center;
}
.sel_section{
    padding-top: 90px !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }
  .btn_in_sell{
      width: 100%;
  }
  .main_div_btn{
     margin-left: 2rem;
  }
  .main_div_btn_model{
    margin-left: 2rem;
    width: 22rem !important;
  }

  .sell_input{
    margin-left: 1rem !important;
  }